extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/landing.js" type="module" defer)
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet")


block content
  div.nav-container
    nav.home-nav-bar
      div.logo-container
        a.logo(href='/')
      ul.link-list
        li.signup
          a#signup(href="/users/signup") Sign up for free
        li.login
          a#login(href="/users/login") Login
        li.tour
          a#tour(href="/tour") Tour
  .heading-sign-up
    h1 The smart to-do app for busy people.
    a(href='/users/signup') Sign Up Free
  .swiper-container
    .swiper-card
      img.swiper-img.starter(src="../assets/images/hp_steve_1.png")
      h2.swiper-head Get to-dos out of your head.
      p.swiper-text Stop thinking about your to-dos, and let the app remember for you.
      img.swiper-img(src="../assets/images/hp_steve_2.png")
      h2.swiper-head
      p.swiper-text
      img.swiper-img(src="../assets/images/hp_steve_3.png")
      h2.swiper-head
      p.swiper-text
      img.swiper-img(src="../assets/images/hp_steve_4.png")
      h2.swiper-head
      p.swiper-text
