extends layout

append head
  link(rel="stylesheet" href="/stylesheets/landing.css")
  script(src="/javascripts/landing.js" type="module" defer)
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

block content
  div.nav-container
    nav.home-nav-bar
      div.logo-container
        a.logo(href='/')
      ul.link-list
        li.signup
          a#signup(href="/users/signup") Sign up for free
        li.login
          a#login(href="/users/login") Login
        li.tour
          a#tour(href="/tour") Tour
  .heading-sign-up
    h1 The <span> smart </span> to-do app for forgetful people.
    a(href='/users/signup') Sign Up Free
    .swiper-container
      .swiper-card.slide
        img.swiper-img.starter(src="../assets/images/undraw_next_tasks_re_5eyy.svg")
        h2.swiper-head Get to-dos out of your head.
        p.swiper-text Stop thinking you <span>lactose</span> skills to be productive.
      .swiper-card.slide
        img.swiper-img(src="../assets/images/undraw_task_list_6x9d.svg")
        h2.swiper-head Add tasks to custom made lists
        p.swiper-text A to-do app beyond your wildest <span>creams</span>.
      .swiper-card.slide
        img.swiper-img(src="../assets/images/undraw_to_do_list_re_9nt7.svg")
        h2.swiper-head Track your progress
        p.swiper-text Make your productivity smooth as <span>milk</span>.
      .swiper-card.slide
        img.swiper-img(src="../assets/images/undraw_forgot_password_re_hxwm.svg")
        h2.swiper-head Quit forgetting your milk!
        p.swiper-text Udderly Forgetful is the <span>kefir</span> making remembering easy.
      a.prev(onclick="changeSlide(-1)"): span(class="material-icons") arrow_back_ios
      a.next(onclick="changeSlide(1)"): span(class="material-icons") arrow_forward_ios
