doctype html
html
  head
      block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" sizes="48x48" href="/uf.png")
        title Udderly Forgetful
        link(rel='stylesheet' href='/stylesheets/reset.css')
        meta(name="title" property="og:title" content="Udderly Forgetful")
        meta(property="og:type" content="Website")
        meta(name="image" property="og:image" content="https://i.ibb.co/xgq3157/Screen-Shot-2022-03-15-at-1-59-19-PM.png")
        meta(name="description" property="og:description" content="Udderly Forgetful, inspired by Remember the Milk, is a to-do list app that allows users to keep track of their day.")
        meta(name="author" content="Steve Correa, Cody Lavene, Matt Satterwhite, Justin Chau")
  body
    block content
