form(action='/lists' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Add a List', 'name', null, "add a task...")
        div
            button(type='submit') Add a Task
