extends layout.pug

include utils.pug
  append head
     link(rel='stylesheet' href='/stylesheets/sign-in.css')

block content
  +validationErrorSummary(errors)
  //- form(action='/users/signup' method='post')
  //-   input(type='hidden' name='_csrf' value=csrfToken)
  //-   +field('First Name', 'firstName', user.firstName)
  //-   +field('Last Name', 'lastName', user.lastName)
  //-   +field('Email', 'email', user.email)
  //-   +field('Username', 'username', user.username)
  //-   +field('Password', 'password', user.password, 'password')
  //-   +field('Confirm Password', 'confirmPassword', '', 'password')
  //-   div
  //-     button(type='submit') Register
  //-     a(href='/') Cancel
  //- div
  //-   p: a(href='/users/login') Already have an account?

  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='sign-up-panel-holder')
      div(id='left-sign-up-container')
        img(src='../assets/images/logo3.png', id="main-logo")
        div(id='left-sign-up')
          h1 Utterly ForgetFul
          div(id="icons")
            img(src="../assets/images/hp_steve_1.png")
            img(src="../assets/images/hp_steve_2.png")
            img(src="../assets/images/hp_steve_3.png")
            p Join millions of people getting more organized and productive!
      div(id='right-sign-up-container')
        div(id='right-sign-up')
          div(id="form-contents")
            +field('First Name', 'firstName', user.firstName)
            +field('Last Name', 'lastName', user.lastName)
            +field('Email', 'email', user.email)
            +field('Username', 'username', user.username)
            +field('Password', 'password', user.password, 'password')
            +field('Confirm Password', 'confirmPassword', '', 'password')
          div(id="links-and-buttons")
            button(type='submit' id="register") Sign up!
            a(href='/' id="cancel") Cancel
            div
              p: a(href='/users/login' id="already-have-account") Already have an account?
