extends layout.pug
include utils.pug
append head 
  link(rel="stylesheet", href="/stylesheets/user-top-nav.css")
block content
    div(class='top-nav-bar')
        div(class='hamburger-div')
            div(class='hamburger-container')
              span(class="material-icons material-icons-hover") menu
        div(class='searchbar-div')
          div(class="search-container")
            label(for="search-bar")
                span(class="material-icons material-icons-dark" id="search-icon") search
            input(type='text' id='search-bar' name="search-bar")
        div(class='settings-div')
            button(type='submit' id='settings-button') Settings
    div(class='left-nav-bar')
        ul
            li All Tasks
            li Today
            li Tomorrow
            li This Week
            li Trash
        ul Lists
            each list in lists
                li= list.name
