extends layout.pug
include utils.pug
append head
        link(rel='stylesheet' href='/stylesheets/login.css')
block content
  +validationErrorSummary(errors)
  body
    div(class="row")
      div(class="left-col")
        div(class="left")
          div(class="title-and-quote")
            h1(id="login-header") Utterly<br>Forgetful
            p(id= "quote") “Do or do not. There is no try." -Yoda
      div(class="right-col")
        div(class="right")
          div#no-account-link
            p: a(href='/users/signup' id='account-sign-up') Sign up for free
          div#form-content
            p#been-here-text Been here before? Welcome Back!
            form(action='/users/login' method='post')
              input(type='hidden' name='_csrf' value=csrfToken)
              +field(null, 'emailAddress', emailAddress, null, "Email")
              +field(null, 'password', null, 'password', "Password")
              div(class='py-4')
                button(type='submit' class='btn btn-primary') Log in
                div.left-border-of-or
                p(id="orOption") OR
                div.right-border-of-or
                button(type='submit' class='demo-log') Demo-User
                a(href='/' class='btn btn-warning ml-2')
