extends layout.pug
include utils.pug
append head
    link(rel='stylesheet' href='/stylesheets/leftnavbar.css')
    link(rel="stylesheet", href="/stylesheets/user-top-nav.css")
    script(type="module" src='/javascripts/leftnavbar.js')
    script(src="/javascripts/user-top-nav.js" type="module")
block content
    div(class='top-nav-bar')
        div(class='hamburger-div')
            div(class='hamburger-container')
              span(class="material-icons material-icons-hover") menu
        div(class='searchbar-div')
          div(class="search-container")
            label(for="search-bar")
                span(class="material-icons" id="search-icon") search
            input(type='text' id='search-bar' name="search-bar")
        div(class='logout-div')
            div.logout-container
                div(class="material-icons material-icons-hover" id="logout-icon") logout
                    div#logout Sign out
    div(class='left-nav-bar')
        div(id="nav-bar-logo") Utterly Forgetful Logo
        ul(class='all-lists')
            li(id='all-tasks') All Tasks
            li(id='today') Today
            li(id='tomorrow') Tomorrow
            li(id='this-week') This Week
            li(id='trash') Trash
        ul(class='added-lists')
            li(id='list') Lists
            each list in lists
                li(class='added-list-children')= list.name
        //- ul.all-lists
        //-     li(id='all-tasks') All Tasks
        //-     li.today
        //-         a#today(href="/users/signup") Today
        //-     li.tomorrow
        //-         a#tomorrow(href="/users/signup") Tomorrow
        //-     li.this-week
        //-         a#this-week(href="/users/signup") This Week
        //-     li.trash
        //-         a#trash(href="/users/signup") Trash
        //- ul.added-lists
        //-     li(id='list') Lists
        //-     each list in lists
        //-         li.added-list-children
        //-             a#added-list-children(href="/users/signup")= list.name
