extends layout.pug
include utils.pug
append head
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet")
        script(src="/javascripts/login.js" type="module")
block content
  body
    div(class="row")
      div(class="left-col")
        div(class="left")
          div.logo-container
            a.logo(href="/")
          div.quote-container
            p(id="quote")
            p#author
      div(class="right-col")
        div(class="right")
          div#form-content
            p#been-here-text Been here before? Welcome Back!
            +validationErrorSummary(errors)
            form(action='/users/login' method='post')
              input(type='hidden' name='_csrf' value=csrfToken)
              +field(null, 'email', email, null, "Email")
              +field(null, 'password', null, 'password', "Password")
              div(class='py-4')
                button(type='submit' class='btn btn-primary') Log in
                div.left-border-of-or
                button(type='submit' class='demo-log') Demo User
                p(id="orOption") OR
                div.right-border-of-or
                div#no-account-link
                  a(href='/users/signup' id='account-sign-up') Sign up for free
                a(href='/' class='btn btn-warning ml-2')
