extends layout.pug
include utils.pug
append head
  link(rel="stylesheet", href="/stylesheets/user-top-nav.css")
  script(src="/javascripts/user-top-nav.js" type="module")
block content
    div(class='top-nav-bar')
        div(class='hamburger-div')
            div(class='hamburger-container')
              span(class="material-icons material-icons-hover") menu
        div(class='searchbar-div')
          div(class="search-container")
            label(for="search-bar")
                span(class="material-icons" id="search-icon") search
            input(type='text' id='search-bar' name="search-bar")
        div(class='logout-div')
            div.logout-container
                div(class="material-icons material-icons-hover" id="logout-icon") logout
                    div#logout Sign out




    div(class='left-nav-bar')
        ul
            li All Tasks
            li Today
            li Tomorrow
            li This Week
            li Trash
        ul Lists
            each list in lists
                li= list.name
