.left-nav-bar {
    display:flex;
    background-color: #d7e7f5;
    flex-direction: column;
    width: 15%;
    height: 800px;
    font-family: "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol"!important;
}

.all-lists {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    margin-right:50px;
}

.added-lists {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    margin-right:50px;
}

.all-lists li {
    margin-top: 20px;
    list-style-type: none;
}

.added-lists li {
    margin-top: 20px;
    list-style-type: none;
}

#today:hover {
    background-color: #bfd7ef;
    max-width: 100px;
}

#tomorrow:hover {
    background-color: #bfd7ef;
}

#this-week:hover {
    background-color: #bfd7ef;
}

#trash:hover {
    background-color: #bfd7ef;
}
