.left-nav-bar {
    display:flex;
    position: fixed;
    background-color: #d7e7f5;
    flex-direction: column;
    width: 9.5%;
    height: 1000px;
    font-family: "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol"!important;
}

.all-lists {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    margin-right:50px;
}

.added-lists {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
    margin-right:50px;
}

.all-lists li {
    margin-top: 20px;
    list-style-type: none;
}

.added-lists li {
    margin-top: 20px;
    list-style-type: none;
}

#today:hover {
    background-color: #bfd7ef;
    font-weight: bold;
}

#tomorrow:hover {
    background-color: #bfd7ef;
    font-weight: bold;
}

#this-week:hover {
    background-color: #bfd7ef;
    font-weight: bold;
}

#trash:hover {
    background-color: #bfd7ef;
    font-weight: bold;
}

#nav-bar-logo {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}
