* {
    box-sizing: border-box;
    margin: 0;
}

.row {
    display: grid;
    height: 1000px;
    grid-template-areas:
    "left right"
}

.left {
    display:flex;
    justify-content: center;
    grid-area: left;
    height: 100%;
    color: white;
    background-color: #0060bf;
    font-size: 28px;
    font-weight: 500;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: right;
    border: red 2px solid;
    font-size: 20px;
    height: 100%;
    margin: 2px;
}


#login-header {
    color: white;
    font-size: 100%;
}


#quote {
    margin-top: 50%;
}

.btn-primary{
    height: 48px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 12px;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    width: 100%;
}
.btn-primary:hover {
    background-color: blue;
    cursor: pointer;
}

.demo-log {
    height: 48px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 12px;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    width: 100%;
}

.demo-log:hover {
    background-color: blue;
    cursor: pointer;
}

#orOption {
    font-size: 40px;
    display:flex;
    justify-content: center;
}


#whatever{
    background-color: red;
    height: 50px;
    width: 50px;
    padding: 2px;
    border: 5px blue solid;
}
