* {
    box-sizing: border-box;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    height: 730px;
    width: 100%
}

.left-col {
    width:50%;
    height: 100%
}

.title-and-quote {
    margin-top: 55px;
    margin-left: 30px;
}


.right-col {
    width:50%;
    height: 100%;
}

.left {
    display:flex;
    justify-content: center;
    grid-area: left;
    height: 100%;
    color: white;
    background-color: #0060bf;
    font-size: 28px;
    font-weight: 500;

}

.right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    grid-area: right;
    font-size: 20px;
    height: 100%;
    width: 100%;
    flex-shrink: 2;

}

#no-account-link {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    height: 170px;
    margin-top: 45px;
}


#login-header {
    color: white;
    font-size: 100%;
}


#quote {
    margin-top: 85%;
}

.btn-primary{
    height: 48px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 12px;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin-bottom: 15px;
}
.btn-primary:hover {
    background-color: rgb(41, 104, 185);
    cursor: pointer;
}

.demo-log {
    height: 48px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 12px;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    width: 400px;
    border: none;
}

.demo-log:hover {
    background-color: rgb(41, 104, 185);
    cursor: pointer;
}

#orOption {
    font-size: 20px;
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    color: gray;
}


#account-sign-up {
    text-decoration:none;
    background-color: rgb(226, 235, 247);
    border-radius: 3px;
    font-size: 15px;
    padding: 8px 11px 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Helvetica Neue";
    border: 1px solid transparent;
}

#form-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: flex-start;
    flex-shrink: 2;
}

#been-here-text {
    font-size: larger;
    margin-bottom: 30px;
}

#emailAddress {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
}

#password {
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
}



