body {
    margin: 0px;
    height: fit-content;
}

.sign-up-panel-holder {
    display: flex;
    height: 787px;
    width: 100%;
    flex-direction: row;
}


#left-sign-up {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #0060bf;
    font-size: 28px;
    font-weight: 500;
}

#orOption {
    margin-left: 165px;
    margin-bottom: 30px;
}

#login-button {
    margin-left: 0px;
    padding: 15px 150px;
    height: 48px;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    text-decoration:none;
    font-size: 20px;
}

#login-button:hover {
        background-color: rgb(52, 114, 195);
}
#right-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.or-and-login-button {
    padding-top: 100px;
}


#sign-up-button {
    height: 30px;
    padding-top: 30px;
    margin-left: 70px;
}


#register {
    height: 48px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 12px;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    width: 100%;
    margin: 3px;
    border: none;
    width: 350px;
}


#register:hover {
    background-color: rgb(52, 114, 195);
    cursor: pointer;
}


#cancel {
    height: 48px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 12px;
    text-decoration: none;
    color: white;
    background-color: #009dff;
    border-radius: 5px;
    width: 100%;
    margin: 3px;
}

#cancel:hover {
    background-color: #ca492e;
}

#form-contents {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 10%;

}

#icons {
    display: flex;
    flex-direction: row;
}

#icons img {
    width: 70%;
    height:150px;
    margin: 20px;
}

#p-text {
    font-size: 18px;
}


#main-logo {
    position: absolute;
    width: 180px;
    margin-left: 13.5%;
    margin-top: 1%;
}

#already-have-account{
    font-size: 1.5rem;
    text-decoration: none;
}

#already-have-account:hover {
    text-decoration: underline;
    color: blue;
}

input {
    height: 40px;
}

#demo-button {
height: 48px;
font-size: 20px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 10px 12px;
color: white;
background-color: #009dff;
border-radius: 5px;
width: 9%;
margin: 3px;
position: absolute;
right: 200px;
top: 50px;
border: none;
}

#demo-button:hover {
    background-color: rgb(52, 114, 195);
    cursor: pointer;

}

#form-contents input {
    margin-top: 10px;
    width: 350px;
    height: 48px;
    padding: 8px;
    font-size: 20px;
    padding-left: 20px;
}

/* #firstName::placeholder {
    font-size: 20px;
    padding-left: 10px;
    font-family: "Helvetica Neue";
    font-weight: 350;
    color: rgb(135, 135, 135);  
} */

#form-contents input::placeholder {
    font-size: 20px;
    padding-left: 0px;
    font-family: "Helvetica Neue";
    font-weight: 350;
    color: rgb(135, 135, 135); 
}

#left-sign-up-container {
    width: 50%;
    height: 100%
}

#right-sign-up-container {
    width: 50%;
}

#error-message {
    margin-left: 10px;
    background-color: rgb(251, 224, 214);
    list-style-type: none;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    margin-top: 100px;
}

#error-ul li {
    list-style-type: none;
}












