* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 800;

  color: rgb(216, 216, 216);
}
body {
  margin: 0;
  background-color: #0060bf;
}
.nav-container {
  display: inline;
  background-color: aqua;
  border-bottom: 1px solid black;
}

.link-list li {
  float: right;
  margin: 30px;
  margin-left: 30px;
  list-style: none;
  font-weight: 100;
  /* color: white; */
}
.link-list {
  width: 100%;
  /* margin-right: 10%; */
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-left: 50px;
}

.link-list li > a {
  text-decoration: none;
  font-size: 15px;
  /* margin-left: -40px; */
}
.link-list li > a:hover {
  color: white;
}

#signup {
  padding: 6px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 3px;
}

#signup:hover {
  border-color: white;
  color: white;
}

.home-nav-bar {
  display: flex;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(0, 91, 181);
  height: 114px;
  background-color: rgba(0, 96, 191, 0.95);
  backdrop-filter: blur(5px);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  align-items: center;
}

.logo-container {
  width: 40%;
  display: flex;
  margin-left: 130px;
}
.logo-container > a {
  background: url("../assets/images/logo-uf.png");
  background-repeat: no-repeat;
  background-size: 179px auto;
  width: 179px;
  min-height: 100%;
  height: 83px;
  display: flex;
  /* margin-top: 20px; */
  margin-left: 10%;
  /* z-index: 80; */
}

.headers {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 30px;
  margin-left: 30px;
}

.headers > p {
  margin-left: 30px;
  margin-right: 30px;
}

#sign-up {
  border: 1px solid white;
  padding: 4px;
  border-radius: 3px;
}

#sign-up:hover {
  background-color: rgba(173, 193, 230, 0.924);
  cursor: pointer;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0060bf;
  margin: 0;
  padding-top: 114px;
  height: 17rem;
  color: white;
}

.first > h1 {
  margin-right: 300px;
}

.first p {
  color: white;
  font-size: 30px;
  font-family: bold;
}

.second {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #5bb84d;
  margin: 0;
  height: 15rem;
}

.second > img {
  height: 250px;
  width: 200px;
}

.second h2 {
  color: white;
  font-size: 30px;
  font-family: bold;
}

.third {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #324a68;
  margin: 0;
  height: 35rem;
  color: white;
}

.third h2 {
  color: white;
  font-size: 80px;
  font-family: bold;
  margin-left: 100px;
}

.third p {
  color: white;
  font-size: 30px;
  font-family: bold;
  margin-left: 100px;
}

.third img {
  height: 600px;
  width: 600px;
}

.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
  height: 35rem;
  color: #3f3f3f;
}

.fourth h2 {
  color: #3f3f3f;
  font-family: bold;
  margin-left: 100px;
  font-size: 100px;
}

.fourth p {
  color: #3f3f3f;
  font-size: 30px;
  font-family: bold;
  margin-left: 100px;
}
.fourth img {
  height: 400px;
  width: 600px;
  margin-right: 100px;
}

.fifth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdb22;
  margin: 0;
  height: 35rem;
  color: #333333;
}

.fifth h2 {
  color: #3f3f3f;
  font-size: 100px;
  font-family: bold;
  margin-left: 100px;
}

.fifth p {
  color: #3f3f3f;
  font-size: 30px;
  font-family: bold;
  margin-left: 100px;
}

.fifth img {
  height: 400px;
  width: 600px;
  margin-right: 100px;
}

.sixth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a4ca6;
  margin: 0;
  height: 40rem;
  color: #ffffff;
}

.sixth h2 {
  color: #ffffff;
  font-size: 100px;
  font-family: bold;
  margin-left: 100px;
}
.sixth p {
  color: #ffffff;
  font-size: 30px;
  font-family: bold;
  margin-left: 100px;
}
.sixth img {
  height: 600px;
  width: 800px;
  margin-right: 100px;
}
