h1 {
  color: #555555;
}

* {
  margin: 0;
}

.top-nav-bar {
  background-color: rgb(0, 96, 191);
  height: 40px;
  width: 100%;
  display: flex;
}
#hamburger-container {
  background-color: green;
  width: 20px;
  height: 20px;
  display: flex;
  z-index: 9000;
  cursor: pointer;
}

.hamburger-div {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.searchbar-div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settings-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 24px;
  margin-left: 12px;
  padding: 3px;
  color: rgba(255, 255, 255, 0.7);
}

.material-icons-hover:hover {
  font-family: "Material Icons";
  font-size: 24px;
  padding: 3px;
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(0, 73, 150);
  border-radius: 3px;
  cursor: pointer;
}

.search-container {
  margin: 18px;
  height: 30px;
  width: 300px;
  background-color: rgb(51, 128, 204);
  border-style: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

#search-bar {
  height: 90%;
  width: 100%;
  margin: 2px auto;
  margin-left: 0px;

  background-color: rgb(51, 128, 204);
  border-style: none;
  border-radius: 3px;
}

#search-bar:focus {
  height: 90%;
  width: 80%;
  line-height: 100%;
  background-color: white;
  border-style: none;
  border-radius: 3px;
  outline: none;
  font-size: 17px;
}

.search-container:focus-within {
  background-color: white;
  border-style: none;
  border-radius: 3px;
}

#search-icon {
  margin-left: 5px;
  margin-top: 2px;
  margin-right: 1px;
}
.material-icons-dark {
  color: black;
}

.logout-container {
  display: flex;
  align-items: center;
  padding: 4px;
}
.logout-container:hover {
  display: flex;
  align-items: center;
  padding: 4px;
}
#logout,
#logout-icon {
  padding: 4px;
}

#logout {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: -24px;
  margin-left: 30px;
}
.height-transition {
  /* transition: margin-top -100px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  overflow-y: hidden; */
  display: none;
  /* background-color: black; */
}
